/*****************COLORES*****************/
/*****************FUENTE*****************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
/*****************ESTILOS*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.container section {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_oscuro {
  background: #29363b;
}

.color_rojo {
  background: #ea495f;
  position: relative;
}
.color_rojo a {
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
  font-style: italic;
  position: absolute;
  top: 450px;
  left: 110px;
}
.color_rojo a:hover {
  font-weight: bold;
}

.color_salmon {
  background: #f4837d;
}

.color_naranja {
  background: #fdcea9;
}

.color_verde {
  background: #99b998;
}

/*****************RESPONSIVE*****************/
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .container section {
    min-width: 300px;
  }
}