/*****************COLORES*****************/
$oscuro:#29363b;
$rojo:#ea495f;
$salmon:#f4837d;
$naranja:#fdcea9;
$verde:#99b998;
$borde:1px solid blue;

/*****************FUENTE*****************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


/*****************ESTILOS*****************/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
   // border:$borde;

    display: grid;
    grid-template-columns: repeat(5,1fr);

    section{
        font-size: 1.5rem;
        color:#fff;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.color_oscuro{
    background: $oscuro;
}

.color_rojo{
    background: $rojo;
    position: relative;
    a{
        color:#fff;
        font-size:.9rem;
        text-decoration: none;
        font-style: italic;
        position: absolute;
        top:450px;
        left: 110px;
        
        &:hover{
            font-weight: bold;
        }
    }
}

.color_salmon{
    background: $salmon;
}

.color_naranja{
    background: $naranja;
}

.color_verde{
    background: $verde;
}


/*****************RESPONSIVE*****************/
@media (max-width:800px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);

        section{
            min-width: 300px;
        }
    }
}